<div class="mat-h3">Todo Application</div>
<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <button (click)="openDialog()" mat-button mat-raised-button color="primary">Add&nbsp;&nbsp;<i class="fa fa-plus-circle" aria-hidden="true"></i></button>
  </div>

  <mat-table #table [dataSource]="dataSource">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let todoData"> {{todoData.id}} </mat-cell>
    </ng-container>

    <!-- Todo Column -->
    <ng-container matColumnDef="todo">
      <mat-header-cell *matHeaderCellDef> Task </mat-header-cell>
      <mat-cell *matCellDef="let todoData"> {{todoData.todo}} </mat-cell>
    </ng-container>

    <!-- Todo Column -->
    <ng-container matColumnDef="level">
      <mat-header-cell *matHeaderCellDef> Priority Level </mat-header-cell>
      <mat-cell *matCellDef="let todoData"> {{todoData.levels}} </mat-cell>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
      <mat-cell *matCellDef="let todoData"> {{todoData.date}} </mat-cell>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
      <mat-cell *matCellDef="let todoData">
        <i (click)="openDialog(todoData.id)" class="fa fa-pencil-square-o" aria-hidden="true"></i>
        <i (click)="actionDelete(todoData.id)" class="fa fa-trash-o" aria-hidden="true"></i>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [length]="length"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (page)="pageEvent = $event">
</mat-paginator>
  
</div>



{{TodoDataDb |json}}